
<h1>Spreedly - A Spreedly Airline</h1>
<h2><i>We'll Yeet You Where You Want To Go</i></h2>
<a href=/transactions>Transactions</a>
<ul>
    <% @flights.each do |flight| %>
        <li>
            <%= flight.route %>: $<%= flight.price %>
            <a href="/flights/<%= flight.id%>"><button id= <%= flight.id%>>Book Me</button></a>
        </li>
    <% end %>
</ul>
